<script setup lang="ts">
import { ApiReference } from '@scalar/api-reference';

defineProps<{
  specUrl: string
  path?: string
}>();

const customCss = `
* {
  --theme-color-accent: var(--vp-c-brand);
  --theme-color-orange: var(--vp-c-yellow-3);
  --theme-background-1: var(--vp-c-bg);
  --theme-color-1: var(--vp-c-text-1);
  --theme-button-1-color: var(--vp-c-bg);
  --theme-button-1: var(--vp-c-text-1);
  --theme-button-1-hover: var(--vp-c-text-2);
  --theme-color-blue: --vp-c-brand-1;
  --theme-background-2: var(--vp-code-block-bg);
  --theme-background-3: var(--vp-c-bg-soft);
  --theme-background-card: var(--vp-c-bg);
}

.sidebar-search {
  display: none !important;
}

.references-layout { 
  height: unset !important; 
}

.section-container section {
  padding: 0.8rem 0 !important;
}

.scalar-api-reference * {
  font-family: unset !important;
  font-size: 16px;
}

.scalar-codeblock-code {
  font-size: 16px !important;
}

.scalar-api-reference code,pre,.property-name {
  font-family: monospace !important;
}`;

</script>

<template>
<ClientOnly>
  <ApiReference :configuration ="{
    isEditable: false,
    showSidebar: false,
    customCss: customCss,
    theme: 'alternate',
    layout: 'modern',
    spec: { url: specUrl }
  }"/>
</ClientOnly>
</template>
